body {
    padding-top: 55.6px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: white;
    background-image: url('../img/bg_fleur_500px.png');
    background-color: #1F1F1F;
    text-align: center;
}