.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    padding-top: 55.6px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: white;
    background-color: rgb(15, 15, 15);
    text-align: center;
}

#main{
    margin-top: 20px;
}

div{
    border: 0px solid #00ff00;
}



.form-deny {
    border: 2px solid red;
}

.form-validate {
    border: 2px solid green;
}

#mapid { 
    z-index: 0;
    min-height: 80vh; 
    width: 100%;
}

#minimapid { 
    position: absolute;
    z-index: 10;
    right: 15px;
    top: 139px;
    height: 250px; 
    width: 250px;
    border: 2px solid rgb(66, 66, 66);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

#board{
    background-image: url('../img/bg_fleur_500px.png');
    display: flex;
    margin: 15px;
    border: 2px solid rgb(66, 66, 66);
    border-radius: 5px;
    box-shadow: 0px 3px 30px #040404;
}

.leaflet-control{
    display: none;
}



.userAvatar {
    border: 0px solid #525252;
    border-radius: 75px;
}

.leaflet-container {
    background-color: #262626 !important;
}

.link{
    cursor: pointer;
    color: #446ef7
}

.link:hover{
    color: #28408f
}