body {
    padding-top: 55.6px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: white;
    background-image: url('../img/bg_fleur_500px.png');
    background-color: #1F1F1F;
    text-align: center;
}

#main{
    margin-top: 20px;
}

div{
    border: 1px solid fuchsia;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.form-deny {
    border: 2px solid red;
}

.form-validate {
    border: 2px solid green;
}

#mapid { 
    height: 750px; 
    width: 100%;
}

#board{
    display: flex;
    margin: 15px;
}

#panel {
    width: 350px;
    height: 100%;
}

.leaflet-control{
    display: none;
}